<!-- Top navigation -->
<nav id="nav" class="navbar  fixed-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
    <img style="max-height: 40px;" class="brand-logo" src="./../../../assets/redditlogo.png" alt="positronX.io Logo">
    <span class="dasboard-text">Dashboard</span>
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link" (click)="toggleClassUser()">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" (click)="toggleClassPost()">
                <i class="fas fa-user"></i>Post
              </a>
            </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main id="userinfo" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>


  <div class="row">
      <body>
          <form id="form" [formGroup]="myForm" >
              <div class="inner-addon left-addon">
                  <img class="searchimg" src="../../../assets/arrow.png">
                  <input id="postinput" style="padding-left:50px;"type="text" class="form-control"  />
                  <input type="button" class="btn btnPrimary" value="Add post" (click)="addPost()">
              </div>
          </form>
          
      </body>
  </div>

  <div style="text-align: center; font-size: 50px; height: 100px; margin:auto;"id="results">

    </div>
</div>
